[Unit]
Description=Refresh Flatpak remote metadata (first boot)
Documentation=https://docs.projectbluefin.io
After=network-online.target flatpak-system-helper.service
Wants=network-online.target
ConditionPathExists=/usr/bin/flatpak
ConditionPathExists=!/var/lib/flatpak/.appstream-refreshed
StartLimitIntervalSec=600

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak update --appstream --system --noninteractive
ExecStartPost=/bin/touch /var/lib/flatpak/.appstream-refreshed
RemainAfterExit=yes
Restart=on-failure
RestartSec=60

StartLimitBurst=3

[Install]
WantedBy=multi-user.target
